// Colors
$gamerSilver : #f2f2f2;
$gamerBurn : #911818;
$gamerYellow : #F7C911;
$gamerBlue : #233A6B;
$gamerBlack : #08080A;
$gamerGrey : #A5A5A5;

// Fonts
$paraText : 'Rokkitt', serif;
$gamerText : 'Press Start 2P', cursive;
$navFont : 'Cinzel', serif;
$contactHead: 'Cinzel Decorative', cursive;
$answer: 'Heebo', sans-serif;
$rye: 'Rye', cursive;