// Colors
$hornetsTeal : #00778B;
$hornetsPurple : #280071;
$webBlack : #353535;
$hornetsGrey : #A1A1A4;
$logoRed : #DF0B25;

// Fonts
$ftb : 'Fredericka the Great';
$chonB : 'Chonburi';
$allegra : 'Alegreya SC';
$eczar : 'Eczar';
$logoName : 'Playfair Display SC';
$forDisplay : 'Faster One';
$contactText : 'Work Sans';
$sansSuper : 'Josefin Sans';