h1 {
    font-family: 'Righteous', cursive;
    font-size: 100px;
    color: #00778B;
    margin-bottom: 0px;
    text-align: center;
}

h2 {
    font-family: 'Faster One';
}

b {
    color: #280071;
}

table {
    text-align: center;
}